# Logs
logs
*.log

# Runtime data
pids
*.pid
*.seed

# Testing
__snapshots__
/coverage
cypress/videos
cypress/screenshots
lib-cov

# Dependencies
node_modules

# Build artifacts
.idea
/build
build
dist
package-lock.json

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

# settings
.history/
.vscode/
typings/
jsconfig.json
typings.json
.lock-wscript
react-webpack-babel
create-react-app
