.growl {
  animation: fadeOut 2s ease 1s forwards;
  background-color: rgba(236, 123, 150, 1);
  color: rgba(255, 255, 255, 1);
  border-radius: 3px;
  position: fixed;
  top: 180px;
  right: 40px;
  z-index: 6;
  padding: 40px;
}

@keyframes fadeOut {
  to {
    background-color: rgba(236, 123, 150, 0);
    color: rgba(255, 255, 255, 0);
    visibility: hidden;
  }
}
