.detailsGrid {
  display: grid;
  grid-template-columns: 2fr 1fr;
  height: 100%;
}

.placeholderImage {
  background-repeat: no-repeat;
  background-size: contain;
  width: 100%;
  height: 100%;
}

@media(max-width: 1200px) {

  .detailsGrid {
    display: block;
    height: 100vh;
  }

  .placeholderImage {
    display: block;
    width: auto;
    height: 50%;
    margin: 0 auto;
  }

}

@media(max-width: 700px) {

  .detailsGrid {
    display: block;
    height: 100vh;
    padding: 0;
    margin: 0;
  }

  .placeholderImage {
    width: 100%;
    height: auto;
  }

}
