.detailsGrid {
  display: grid;
  grid-template-columns: 2fr 1fr;
  height: 100%;
}

.carousel {
  width: 100%;
  margin: 0 auto;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.carouselImage {
  background-repeat: no-repeat;
  background-size: contain;
  width: 100%;
}

@media(max-width: 1200px) {

  .detailsGrid {
    display: block;
    height: 100vh;
  }

  .carouselImage {
    width: auto;
  }

}

@media(max-width: 700px) {

  .detailsGrid {
    display: block;
    height: 100vh;
  }

  .carouselImage {
    width: 100%;
  }

}
