/* GLOBAL RESETS *************************************/

* {
  box-sizing: border-box;
}

html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: Roboto,Trebuchet MS,Arial,Helvetica,sans-serif !important;
  background-color: #F7F7F7;
  font-size: 16px; /* FF does not let you override its minimum font-size */
}

.screen {
  width: 100%;
  height: 100%;
  position: absolute;
}

input:-webkit-autofill {
  background-color: #ccc;
  background-image: none;
  color: rgb(0, 0, 0);
}

body.ReactModal__Body--open {
  overflow: hidden;
}

/* COLORS *******************/

.rico-skyblue {
  color: #3498db;
}

.rico-grey {
  color: #ccc;
}

.rico-white {
  color: #fff;
}

.rico-lightblue {
  color: #f2f6fa;
}

.rico-blue {
  color: #4b6a8e;
}

.rico-darkblue {
  color: #34485b;
}

.rico-orange {
  color: #fc9414;
}

.rico-teal {
  color: #16a085;
  color: rgb(22, 160, 133);
}

.rico-pink {
  color: #EC7B96;
  color: rgb(236, 123, 150);
}

.rico-yellow {
  color: #ffec5e;
}


/* TEXT *******************/

a {
  color: currentColor;
  cursor: pointer;
  text-decoration: none;
}

a:hover, Link:hover, .link:hover {
  color: #16a085;
}

h1, h2, h3, h4, h5, h6, .title {
  font-family: Open Sans, sans-serif;
  color: #777; /* or #fff if dark background */
  margin: 0px;
  letter-spacing: 1px;
}

h1 {
  font-weight: 600;
  font-size: 2rem;
}

h2 {
  font-weight: 500;
  font-size: 1.5rem;
}

h3, .title {
  font-weight: 300;
  font-size: 1.5rem;
}

h4 {
  font-weight: 400;
  font-size: 1.2rem;
  color: #4b6a8e;
  letter-spacing: 1px;
  line-height: 1.5;
}

h5 {
  font-weight: 100;
  font-size: 0.9rem;
  color: #34495e;
  letter-spacing: 0.5px;
  line-height: 1.5;
}

p, span {
  font-size: 1em ;
  font-weight: 100;
  hyphens: none;
}

section {
  margin: 40px 0px;
}

/* INPUT FIELDS *******************/

input[type='checkbox'] {
  display: inline-block;
  margin: 0px 10px 0px 0px;
}

input[type='email'],
input[type='date'],
input[type='time'],
input[type='password'],
input[type='number'],
input[type='tel'],
input[type='text'], textarea {
  height: 40px;
  padding:0px 10px;
  width: 100%;
  font-size: 1rem;
  font-family: Roboto,Trebuchet MS,Arial,Helvetica,sans-serif !important;
}

.input-border { /* for input fields with borders */
  border-radius: 3px !important;
  border: 1px solid #ccc !important;
  background-color: #fff;
  height: 40px;
}

.input-border:hover {
  padding-left: 10px;
}


.input-underline { /* for input fields with only an underline */
  border: 1px solid #ccc;
  border-left: none;
  border-top: none;
  border-right: none;
  border-radius: 0px;
}

input[type='date']:disabled,
input[type='time']:disabled,
input[type='number']:disabled,
input[type='email']:disabled,
input[type='tel']:disabled,
input[type='text']:disabled {
  background: lightgrey;
  cursor: not-allowed;
}

input:hover :not(.slider), textarea:hover {
  border-radius: 3px !important;
  border: 1px solid #ccc !important;
}

input:focus, input:active,
textarea:focus, textarea:active,
select:focus {
  outline-color: #16a085;
}

input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 30px white inset;
}

input.fieldError:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 30px #ffd8d8 inset;
}

input.fieldError {
  background-color: #ffd8d8;
}

select {
  display: block;
  border: none;
  border: 1px solid #ccc;
  height: 40px !important;
  border-radius: 3px;
}

textarea:disabled {
  background-color: transparent;
  font-family: inherit;
  color: #000000;
  width: 100%;
  border-radius: 0;
}

textarea {
  background-color: transparent;
  font-family: inherit;
  color: #000000;
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 3px;
  font-weight: 300;
  padding: 10px;
}

.slider {
  -webkit-appearance: none;
  width: 100%;
  height: 10px;
  border-radius: 10px;
  background: #fc9414;
  outline: none;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 30px;
    height: 30px;
    border: 1px solid #ccc;
    border-radius: 50%;
    background: #fff;
    box-shadow: 2px 2px 2px #777;
    cursor: pointer;
}

.slider::-moz-range-thumb {
    width: 30px;
    height: 30px;
    border: 1px solid #ccc;
    border-radius: 50%;
    background: #fff;
    box-shadow: 2px 2px 2px #777;
    cursor: pointer;
}

/* IMAGES *****************************/

.iconPaddingRight {
  margin-right: 10px;
}

.iconPaddingLeft {
  margin-left: 10px;
}

.iconPadding {
  margin: 10px;
}

.up {
  transform: rotate(180deg);
  transition: all ease 0.3s;
}

.down {
  transform: rotate(360deg);
  transition: all ease 0.3s;
}

/* LABELS *******************/

label {
  display: block;
  text-align: left;
  margin-bottom: 5px;
  font-size: .8rem ;
  color: #777;
  letter-spacing: 0px;
  font-family: Roboto,Trebuchet MS,Arial,Helvetica,sans-serif;
  -webkit-transition: all .2s ease;
}

.label-inline {
  display: inline-block;
  margin: 0px 10px 0px 0px;
  text-align: left;
  font-size: 0.8em;
  color: #777;
  letter-spacing: 0px;
  font-family: Roboto,Trebuchet MS,Arial,Helvetica,sans-serif;
  text-transform: uppercase;
}

.disappearingLabels {
  text-transform: uppercase;
  display: none;
  visibility: hidden;
}

/* ERROR MESSAGES *******************/

.error {
  display: block;
  background: red;
  padding: 20px;
  border: 1px solid red;
  line-height: 1;
  color: white;
}

.textWarning {
  display: inline;
  color: red;
  font-size: .8rem;
}

.errorMessage {
  float: right;
  font-size: 0.8rem;
  color: red;
  padding-top: 5px;
}


/* CONTAINERS AND DIVIDERS *******************/

hr {
  margin: 40px 0px;
}

.page {
  height: 100vh;
  position: relative;
}

.wrapper {
  background-color: #f2f6fa;
  background-repeat: repeat;
  background-size: cover;
  width: 100%;
  height: 100%;
  position: absolute;
}

.panel {
  background-color: white;
  height: 100%;
  width: 100%;
  min-width: 400px;
  padding: 40px;
}

.center {
  width: 100%;
  margin: 0 auto;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.center-vertically { /* use when exact height of content is not known or fixed */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.container {
  display: flex;
  flex-direction: column; /* typically */
  justify-content: space-between;
  margin: 0 auto;
  padding: 40px;
  border: none;
  outline: none;
}

.container-fit {
  width: fit-content;
  width: -moz-fit-content;
  margin: 0 auto;
  padding: 40px;
  border: none;
  outline: none;
}


.row {
  display: flex;
  align-items: center;
}

.border-top {
  border-top: 1px solid #ccc;
}

.space-between {
  justify-content: space-between;
}

.col-2-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 10px;
  padding: 20px 0px;
}

.buttonContainer {
  text-align: right;
}

.overlay {
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  width: 100%;
  height: 100%;
  z-index: 4000;
  background-color: rgba(0, 0, 0, 0.5);
}

.shadow { /* use for modals, Drawers, Cards, overlays */
  box-shadow: 0 0 5px 1px #777;
}


/* HEADERS & FOOTERS *******************/

.header {
  text-align: center;
  padding-bottom: 40px;
}

footer {
  display: flex !important;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
  padding-top: 40px;
  width: 100%;
}


/* RESPONSIVE STYLES *******************/

@media(max-width: 1200px) {

  .panel {
    height: auto;
  }
}

@media(max-width: 400px) {

  .panel {
    height: 100%;
  }
}

@media(max-width: 600px) {

  .center {
    position: relative;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    transform: none;
  }

  .container, .container-fit {
    width: 100%;
    height: fit-content;
    height: -moz-fit-content;
    margin: auto 0;
    border: none;
    border-radius: 0px;
    padding: 0px;
  }

  .form-grid {
    display: block;
    width: 100%;
  }

  .form-flex-column {
    display: block;
    width: 100%;
  }

  .form-flex-row {
    display: block;
    width: 100%;
  }

  .page-header {
    display: block;
    text-align: left !important;
    padding: 0px 0px 20px 0px;
    align-items: flex-end;
  }

  .header {
    padding-bottom: 20px;
  }

  .buttonContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .disappearingLabels {
    display: block;
    visibility: visible;
  }

}
