/* GLOBAL RESETS *************************************/

* {
  box-sizing: border-box;
}

html, body {
  height: 100%;
  width: 100vw;
  overflow-X: hidden;
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  background-color: #F7F7F7;
  color: #222;
  font-size: 16px; /* FF does not let you override its minimum font-size */
}

.screen {
  width: 100%;
  height: 100%;
  position: absolute;
}

/* COLORS *******************/

.lightgrey {
  color: #999;
}

/* TEXT *******************/

p, span {
  font-size: 1em;
  hyphens: none;
  text-align: left;
  margin: 0;
}

a {
  color: currentColor;
  cursor: pointer;
  text-decoration: none;
}

a:hover, Link:hover, .link:hover {
  color: #fc9414;
}

h1, h2, h3, h4, h5, h6 {
  color: #222;
  margin: 0px;
}

h1 {
  font-weight: 600;
  font-size: 2rem;
}

h2 {
  font-weight: 500;
  font-size: 1.5rem;
}

h3 {
  font-weight: 400;
  font-size: 1.5rem;
}

h4 {
  font-weight: 300;
  font-size: 1.2rem;
  letter-spacing: 1px;
  line-height: 1.5;
}

h5 {
  font-weight: 100;
  font-size: 0.9rem;
  letter-spacing: 0.5px;
  line-height: 1.5;
}

/* LABELS *******************/

label {
  display: block;
  text-align: left;
  margin-bottom: 5px;
  font-size: .8rem ;
  color: #999;
  letter-spacing: 0px;
  -webkit-transition: all .2s ease;
}

/* ANIMATION ****************/

.isAnimating {
  transition: transform 400ms linear;
}

/* IMAGES *******************/

img {
  border-radius: 100px;
  width: 50px;
  height: 50px;
}

/* ERROR MESSAGES *******************/

.error {
  display: block;
  background: red;
  padding: 20px;
  border: 1px solid red;
  line-height: 1;
  color: white;
  position: fixed;
}

/* LAYOUT *******************/

.wrapper {
  display: block;
  height: 100vh;
  overflow: hidden;
}

.panel {
  background-color: white;
  height: 100%;
  width: 100%;
  padding: 40px;
}

.center {
  margin: 0 auto;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.row {
  display: flex;
  align-items: center;
}

/* RESPONSIVE STYLES *******************/

@media(max-width: 700px) {

  .center {
    position: relative;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    transform: none;
  }

  .panel {
    padding: 10px;
    min-width: 100%;
  }

}
