.pageHeader {
  text-align: left;
  padding: 10px;
  width: 100vw;
  display: flex;
  justify-content: flex-start;
  align-items: baseline;
  position: fixed;
  z-index: 2;
  background-color: rgb(103, 58, 183);
}

.pageHeader h3 {
  color: white;
}

.menuIcon {
  padding-right: 10px;
}
