.card {
  box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.2), 0 3px 6px 0px rgba(0, 0, 0, 0.2);
  border-top: 3px solid white;
  display: block;
  height: fit-content;
  overflow: hidden;
}

.card:hover {
  box-shadow: none;
  border-top: 3px solid #fc9414;
}

.cardContent {
  flex: 1;
  background-color: white;
  padding: 20px;
  height: 100%;
  overflow: auto;
}

.cardImage {
  position: relative;
  width: 100%;
  margin: -10% 0 0 0;
}

.cardBody {
  display: flex;
  justify-content: space-between;
  background-color: white;
}

.cardBody > div:last-child {
  text-align: right;
}

.cardHeader {
  composes: cardBody;
}

.cardHeader > :not(label) {
  color: orange;
  font-size: 2em;
}

.cardFooter {
  flex: 1;
  display: flex;
  background-color: #fc9414;;
  color: white;
  padding: 20px;
}

.cardFooter :hover {
  background-color: #ccc;
}

.cardName {
  padding-top: 20px;
}
