.dropdownContainer {
  display: block;
  position: absolute;
  background: white;
  width: fit-content;
  width: -moz-fit-content;
  top: 60px;
  right: 40px;
  z-index: 5;
  box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.2), 0 3px 6px 0px rgba(0, 0, 0, 0.2);
}

.up {
  transform: rotate(180deg);
  transition: all ease 0.3s;
}

.down {
  transform: rotate(360deg);
  transition: all ease 0.3s;
}

.visible {
  display: flex;
  flex-direction: column;
}

.invisible {
  display: none;
}

.visible > * {
  display: flex;
  padding: 10px;
  align-items: center;
  color: #000 !important;
  text-transform: uppercase;
}

.visible > * > svg {
  fill: currentColor;
  margin-right: 10px;
}

.visible > a:hover {
  color: white !important;
  background-color: #fc9414;
}

@media(max-width: 600px) {

  .dropdownContainer {
    top: 60px;
    right: 20px;
  }

}
